
SRR1187947
SRR1187947_map_qual1.wig
bowtie_performance_checks
GAGA_Repeats
multi_mappings/files
multi_mappings/42AB_Lines
multi_mappings/42AB_Lines_test
multi_mappings/42AB_test
multi_mappings/42AB
multi_mappings/search_beds
multi_mappings/analysis/gene_multimappings
.RData
.RHistory
multi_mappings/histone_cluster
mirRNA/reads_collapsed.fa
mirRNA/reads_collapsed_vs_genome.arf
mirRNA/SRR1187947_trimmed.fq.gz.mapped.md.reads.arf 
mirRNA/SRR1187947_trimmed.fq.gz.mapped.md.sam
sat_dna/chang2019/dmel_scaffold2_V5.fasta
*sam
*bam
*fa
*arf
multi_mappings/projects/42AB
multi_mappings/projects/histone_cluster
multi_mappings/BAMS
multi_mappins/annotation_data
